TABLE.global-project TD {
	COLOR: black
}
TABLE.global-project TD A {
	COLOR: black
}
TABLE.global-project TD.menu TD.active {
	COLOR: black; BACKGROUND-COLOR: #fff1b0
}
TABLE.global-project TD.user A {
	COLOR: #997a00
}
.white {
	COLOR: black
}
HR {
	FONT-SIZE: 80%; MARGIN: 0px 0px 0.6em; WIDTH: 100%; COLOR: #d2cdd9; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #d2cdd9; BORDER-BOTTOM-STYLE: none
}
DIV.comment {
	FONT-SIZE: 70%; MARGIN: 0px 0px 1em; COLOR: #999999
}
DIV.newsAnn {
	MARGIN: 0px 0px 1em
}
DIV.newsDate {
	MARGIN-BOTTOM: 1em
}
TABLE.content TD.body DIV DIV {
	FONT-SIZE: 100%
}
P.thin {
	MARGIN-BOTTOM: 0.3em
}
PRE {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0.2em
}
PRE.thick {
	MARGIN-BOTTOM: 1em
}
DIV.menuTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; MARGIN-BOTTOM: 0.5em
}
DIV.menuComment {
	FONT-SIZE: 70%; MARGIN: 0px 0px 1em 20px
}
TABLE.content P {
	FONT-SIZE: 80%
}
TABLE.content UL {
	FONT-SIZE: 80%
}
TABLE.content OL {
	FONT-SIZE: 80%
}
TABLE.content LI {
	MARGIN-BOTTOM: 0.5em
}
TABLE.content TD.body LI P {
	FONT-SIZE: 100%
}
TABLE.content LI P {
	FONT-SIZE: 100%
}
TABLE.content BLOCKQUOTE {
	MARGIN-TOP: 0px; FONT-SIZE: 80%; MARGIN-BOTTOM: 1em; MARGIN-RIGHT: 0px
}
TABLE.content TD.right UL {
	MARGIN-LEFT: 1.5em
}
TABLE.content DIV.body {
	FONT-SIZE: 80%
}
TABLE.content DIV.body OL LI {
	FONT-SIZE: 120%
}
DIV.comment {
	FONT-SIZE: 70%; MARGIN: 0px 0px 1em; COLOR: #999999
}
TABLE.content P BLOCKQUOTE {
	FONT-SIZE: 100%
}
TABLE.content BLOCKQUOTE P {
	FONT-SIZE: 100%
}
TABLE.content LI BLOCKQUOTE {
	FONT-SIZE: 100%
}
DIV.newsAnn {
	FONT-SIZE: 80%; MARGIN: 0px 0px 1em
}
DIV.newsAnn DIV.date {
	
}
DIV.newsDate {
	FONT-SIZE: 80%; MARGIN-BOTTOM: 1em
}
DIV.newsContacts {
	FONT-SIZE: 80%; MARGIN-BOTTOM: 1em; PADDING-TOP: 1em
}
TABLE.projects TD {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.projects TD.name {
	PADDING-RIGHT: 10px; FONT-SIZE: 80%; PADDING-BOTTOM: 1em; TEXT-ALIGN: center
}
TABLE.projects TD.name IMG {
	MARGIN-BOTTOM: 5px
}
TABLE.projects DIV.motto {
	FONT-SIZE: 80%; PADDING-BOTTOM: 0.3em; FONT-STYLE: italic
}
UL.tales {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.5em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px
}
UL.tales LI {
	PADDING-BOTTOM: 0.5em
}
TABLE.checkCode TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0px
}
TABLE.defTable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
TABLE.defTable TR.header TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.list TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 1.5em; PADDING-TOP: 0px
}
TABLE.clientsList TD {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0px
}
TABLE.clientsList TR.img TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 0.5em
}
TABLE.content TABLE {
	FONT-SIZE: 100%
}
FORM.c-search {
	MARGIN-TOP: 10px
}
FORM.c-search TABLE {
	WIDTH: 100%
}
FORM.c-search TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
FORM.c-search TD.label {
	PADDING-LEFT: 25px
}
FORM.c-search TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
FORM.c-search INPUT.text {
	WIDTH: 100%; MARGIN-RIGHT: 10px
}
TABLE.contenttable TD {
	PADDING-RIGHT: 0px
}
TABLE.doc {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-BOTTOM: 1em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
TABLE.doc TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TABLE.doc TR.header TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #d2cdd9 1px solid
}
DIV.docsIndex {
	FONT-SIZE: 80%; MARGIN-BOTTOM: 1em
}
DIV.docsIndex DIV {
	MARGIN: 0.5em 0px 0px 20px
}
DIV.docsIndexCompact {
	FONT-SIZE: 80%; MARGIN-BOTTOM: 1em
}
DIV.docsIndexCompact DIV {
	MARGIN: 0.5em 0px 0px
}
DIV.CHAPTER SPAN.PROPERTY {
	FONT-WEIGHT: bold; FONT-SIZE: 80%
}
DIV.CHAPTER PRE {
	MARGIN: 1em
}
DIV.CHAPTER PRE.CONFIGCODE {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.5em; MARGIN: 0.5em 0px; COLOR: #000066; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #f5f5f8
}
TABLE.CALSTABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-BOTTOM: 1em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
TABLE.CALSTABLE TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 80%; PADDING-BOTTOM: 10px; BORDER-LEFT: 0px; PADDING-TOP: 10px; BORDER-BOTTOM: 0px
}
TABLE.CALSTABLE TH {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #d2cdd9 1px solid
}
TABLE.docbook {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-BOTTOM: 1em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
TABLE.docbook TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
TABLE.docbook TR.header TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #d2cdd9 1px solid
}
TABLE.content TD PRE.docbook {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.content LI PRE.docbook {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 120%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.content UL UL {
	FONT-SIZE: 100%
}
PRE.configcode {
	PADDING-RIGHT: 10pt; PADDING-LEFT: 10pt; PADDING-BOTTOM: 10pt; MARGIN: 1em 2em; COLOR: rgb(0,0,102); TEXT-INDENT: 0px; PADDING-TOP: 10pt; BACKGROUND-COLOR: rgb(245,245,248); TEXT-ALIGN: justify
}
DIV.example {
	PADDING-RIGHT: 10pt; PADDING-LEFT: 10pt; PADDING-BOTTOM: 10pt; MARGIN: 1em 2em; COLOR: rgb(0,60,0); TEXT-INDENT: 10px; PADDING-TOP: 10pt; BACKGROUND-COLOR: rgb(255,240,192); TEXT-ALIGN: justify
}
TABLE.content SPAN.active {
	BACKGROUND-COLOR: #e8e9ec
}
TABLE.content DIV.sort {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; FONT-SIZE: 70%; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0px
}
TR.with_title_line TD {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #d2cdd9 1px solid
}
DIV.body BLOCKQUOTE {
	FONT-SIZE: 100%
}
TABLE.content OL.searchresult LI {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: decimal
}
TABLE.content OL.searchresult {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.content OL.searchresult LI A {
	FONT-SIZE: 130%
}
TABLE.content .sortingby {
	MARGIN-TOP: 1.4em; FONT-SIZE: 70%
}
UL.empty {
	MARGIN-TOP: 0.4em; MARGIN-BOTTOM: 1.2em; LIST-STYLE-TYPE: none
}
.ptitle {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 10px! important; PADDING-TOP: 10px! important
}
.pdesc {
	PADDING-LEFT: 40px! important
}
